@import "theme";
/* You can add global styles to this file, and also import other style files */
.nav-active {
    background-color: mat-color($mat-orange, 100) !important;
    color: mat-color($accent) !important;
}

.nav-active mat-icon {
    color: mat-color($accent) !important;
}

.mat-dialog-container {
    margin-left: auto;
    margin-right: auto;

}
