<div layout-gt-sm="row" class="backLayer">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">

        <mat-card>
            <mat-card-title id="charts-title">Charts</mat-card-title>
            <mat-divider></mat-divider>

            <div layout="row" layout-align="center">
                <p>
                    <mat-form-field>
                        <input matInput [(ngModel)]="startDate" (oninput)="buildChart()"
                               [matDatepicker]="startdp" placeholder="Start Date" disabled>
                        <mat-datepicker-toggle matSuffix [for]="startdp"></mat-datepicker-toggle>
                        <mat-datepicker #startdp disabled="false"></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="endDate" (onchange)="buildChart()"
                               [matDatepicker]="enddp" placeholder="End Date" disabled>
                        <mat-datepicker-toggle matSuffix [for]="enddp"></mat-datepicker-toggle>
                        <mat-datepicker #enddp disabled="false"></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput id="emojiOwner" #input placeholder="Filter by owner" [(ngModel)]="emojiOwner">
                    </mat-form-field>
                    <button mat-raised-button id="submit" (click)="buildChart()" type="button">Submit</button>
                </p>
            </div>
            <a name="{{filterEmojis(emojiOwner, startDate, endDate).length}}"></a>
            <mat-card-content>

                <div id="chartdiv" layout="row" layout-align="center">
                    <canvas id="myChart" width="500" height="500"></canvas>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
