.loginEmoji{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    padding: 32px;
}

.loginEmojiText {
    text-align: center;
    font-size: 24px;
}

#addNewGoal{
    background-color: lightgreen;
}

.addNewGoalDiv{
    padding: 10px;
}

.goal-avatar{
    background-image: url('http://www.clker.com/cliparts/K/R/l/7/g/s/joyful-sun-md.png');
    background-size: cover;
}

.box {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
}

.mat-card-header {
    color: white;
    background-color: darkorange;
}

.goal {
    background-color: lightyellow;
    max-width: 300px;
}

.check-buttons{
    color: darkorange;
    background-color: lightyellow;
}

.check-buttons:hover{
    background-color: #FFC433;
}

.mat-card-title{
    font-size: large;
    font-weight: bold;
}
