<div *ngIf="getLoginName() != ''">
    <div class="addNewResourcesDiv">
        <button id = "addNewResources" mat-raised-button>Add your own Resource</button>
    </div>
</div>

<!-- Contact Phone numbers card is being instered here-->
<mat-card>
    <mat-card-content class="contact-numbers">
        <mat-card-title class="contact-numbers-title"><i class="material-icons">phone_forwarded</i><mat-icon class="little-phone-icon">phone</mat-icon>Contact Numbers</mat-card-title>
        <mat-card-subtitle id="contact-numbers-subtitle">In times of need you can refer to these phone numbers
            to have support. It's always okay to have someone to talk to</mat-card-subtitle>

        <mat-expansion-panel id="suicide-prevention-lifeline" #elem class="contact-numbers-to-call">
            <mat-expansion-panel-header>
                <mat-panel-title class="hotline-company-name">Suicide Prevention Lifeline</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>We can all help prevent suicide. The Lifeline provides 24/7,
                free and confidential support for people in distress, prevention and crisis
                resources for you or your loved ones, and best practices
                for professionals.</mat-panel-description>
            <br>
            <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">phone</mat-icon> 1-800-273-8255</mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel id="crisis-hotline" #elem class="contact-numbers-to-call">
            <mat-expansion-panel-header>
                <mat-panel-title class="hotline-company-name">Crisis Hotline</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Crisis Call Center’s 24-hour crisis line often
                serves as the first point of contact for individuals who are seeking
                help, support, and information. Crisis can affect anyone at any time.
                The need for emotional support or referral assistance is something most
                individuals encounter at some point in their lives.</mat-panel-description>
            <br>
            <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">phone</mat-icon> 775-784-8090</mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel id="crisis-text-line" #elem class="phone-numbers-to-call">
            <mat-expansion-panel-header>
                <mat-panel-title class="hotline-company-name">Crisis Text Line</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Free, 24/7 support for people in crisis. Every texter
                is connected with a Crisis Counselor, a real-life human being trained to
                bring texters from a hot moment to a cool calm through active listening
                and collaborative problem solving. All of our Crisis Counselors are volunteers,
                donating their time to helping people in crisis.</mat-panel-description>
            <br>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content class="resource-links">
        <mat-card-title class="resource-links-title">Resource Links</mat-card-title>
        <mat-card-subtitle>Some possibly useful links to resources</mat-card-subtitle>

        <mat-expansion-panel id="breating-exercises" #elem class="resource-links">
            <mat-expansion-panel-header>
                <mat-panel-title class="breathing-exercise-links">Breathing Exercises</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>A few links to breathing exercises to try</mat-panel-description>
            <br>
            <a href="http://www.livingbydesignonline.com/ananga-living-by-design-blog/2009/6/9/5-anti-stress-breathing-techniques-to-help-you-feel-calm-any.html"
               target="_blank" style="text-decoration: none; border-bottom: 1px transparent; color: #ffffff">5 Anti Stress Breathing techniques</a>
            <br>
            <a href="https://psychcentral.com/blog/4-breathing-exercises-to-reduce-your-stress-right-now/" target="_blank"
               style="text-decoration: none; border-bottom: 1px transparent; color: #ffffff;">4 Breathing Exercises to Reduce Your Stress</a>
            <br>
            <a href="https://www.youtube.com/watch?v=mgzhKW08bMQ" target="_blank" style="text-decoration: none; border-bottom: 1px transparent; color: #ffffff;">
                Square Breathing Technique Video
            </a>
        </mat-expansion-panel>
        <mat-expansion-panel id="anger-management-information" #elem class="resource-links">
            <mat-expansion-panel-header>
                <mat-panel-title class="anger-management-information">Anger Management Information</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Some links on anger management</mat-panel-description>
            <br>
            <a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/anger-management/art-20045434?pg=1" target="_blank"
               style="text-decoration: none; border-bottom: none; color: #ffffff">10 tips to tame your temper Mayo Clinic</a>
            <br>
            <a href="https://www.webmd.com/mental-health/anger-management#1" target="_blank"
               style="text-decoration: none; border-bottom: none; color: #ffffff">Mental Health and Anger Management</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="general-links">Some generally useful links</mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://www.youtube.com/watch?v=hFcQpNr_KA4" target="_blank" style="text-decoration: none; border-bottom: none; color: #999ea8">
                Ted Talk Video: Breath -- five minutes can change your life
            </a>
            <br>
            <a href="https://www.youtube.com/watch?v=8-JXOnFOXQk" target="_blank" style="text-decoration: none; border-bottom: none; color: #999ea8">
                Video: Brené Brown: Why Your Critics Aren't The Ones Who Count
            </a>
            <br>
            <a href="https://www.youtube.com/watch?v=sXSjc-pbXk4" target="_blank" style="text-decoration: none; border-bottom: none; color: #999ea8">
                Video: The Power of Vulnerability - Brene Brown
            </a>
            <br>
            <a href="https://www.youtube.com/watch?v=s6xb4H5ueKs" target="_blank" style="text-decoration: none; border-bottom: none; color: #999ea8">
                PBS Video: THE GIFTS OF IMPERFECTION: LIVING WITH COURAGE, COMPASSION AND CONNECTION
            </a>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>
