<div>
    <ol>
        <button id = "addNewResources" mat-raised-button (click)="openDialog()">Add your own Resource</button>
    </ol>
</div>

<!-- Contact Phone numbers card is being instered here-->
<mat-card>
    <mat-card-content class="contact-numbers">
        <mat-card-title class="contact-numbers-title"><i class="material-icons">phone_forwarded</i><mat-icon class="little-phone-icon">phone</mat-icon>Contact Numbers</mat-card-title>
        <mat-card-subtitle id="contact-numbers-subtitle">In times of need you can refer to these phone numbers
            to have support. It's always okay to have someone to talk to</mat-card-subtitle>

        <mat-expansion-panel #elem class="contact-numbers-to-call">
            <mat-expansion-panel-header>
                <mat-panel-title class="hotline-company-name">Suicide Prevention Lifeline</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>We can all help prevent suicide. The Lifeline provides 24/7,
                free and confidential support for people in distress, prevention and crisis
                resources for you or your loved ones, and best practices
                for professionals.</mat-panel-description>
            <br>
            <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">phone</mat-icon> 1-800-273-8255</mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel #elem class="contact-numbers-to-call">
            <mat-expansion-panel-header>
                <mat-panel-title class="hotline-company-name">Crisis Hotline</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Crisis Call Center’s 24-hour crisis line often
                serves as the first point of contact for individuals who are seeking
                help, support, and information. Crisis can affect anyone at any time.
                The need for emotional support or referral assistance is something most
                individuals encounter at some point in their lives.</mat-panel-description>
            <br>
            <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">phone</mat-icon> 775-784-8090</mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel #elem class="phone-numbers-to-call">
            <mat-expansion-panel-header>
                <mat-panel-title class="hotline-company-name">Crisis Text Line</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Free, 24/7 support for people in crisis. Every texter
                is connected with a Crisis Counselor, a real-life human being trained to
                bring texters from a hot moment to a cool calm through active listening
                and collaborative problem solving. All of our Crisis Counselors are volunteers,
                donating their time to helping people in crisis.</mat-panel-description>
            <br>
            <mat-expansion-panel #elem class="phone-numbers-to-call">
                <mat-expansion-panel-header>
                    <mat-panel-title class="hotline-company-name">Woodland Home</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>Kate's mobile crisis unit details will go here:
                    905 Park Ave
                    Morris, MN 56267
                </mat-panel-description>
                <br>
                <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">phone</mat-icon>320-589-4259</mat-panel-description>
            </mat-expansion-panel>
            <br>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>
