<!--Don't allow user to do anything without logging in! -->
<div *ngIf="isUserLoggedIN(); else promptLogin">

<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
            <!-- Main Page -->
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <mat-card>
                <mat-card-content id="headerInfo">
                    <!-- Only display first name -->
                    <h1><strong>Hello {{emoji.owner.split(" ")[0]}}! How are you feeling today?</strong></h1>
                    <p>Swipe left or right to find your feeling.</p>

                    <!-- Control Gestures -->
                    <div class="swipe-box"
                         (swipeleft)="emoji.mood = updateEmojiMood(1, emoji.mood); emoji.intensity = 1"
                         (swiperight)="emoji.mood = updateEmojiMood(-1, emoji.mood); emoji.intensity = 1"
                         (swipeup)="emoji.intensity = updateEmojiIntensity(1, emoji.intensity, emoji.mood)"
                         (swipedown)="emoji.intensity = updateEmojiIntensity(-1, emoji.intensity, emoji.mood)"
                    >

                        <!-- Blank Emoji
                        <img draggable="false" id="emojiBlank" src="assets/Emojis/1/1.png" style="display:none;width:33%;height:33%">-->

                        <!--Emoji Mood 1 -->
                        <div *ngIf="emoji.mood == 1">
                            <!-- If swiped from Left -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'left'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-left" id="emoji1FromLeft" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>

                            <!-- If swiped from Right -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'right'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-right" id="emoji1FromRight" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>
                        </div>

                        <!--Emoji Mood 2 -->
                        <div *ngIf="emoji.mood == 2">
                            <!-- If swiped from Left -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'left'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-left" id="emoji2FromLeft" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>

                            <!-- If swiped from Right -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'right'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-right" id="emoji2FromRight" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>
                        </div>


                        <!--Emoji Mood 3 -->
                        <div *ngIf="emoji.mood == 3">
                            <!-- If swiped from Left -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'left'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-left" id="emoji3FromLeft" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>

                            <!-- If swiped from Right -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'right'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-right" id="emoji3FromRight" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>

                            <!-- Special case: When the object is first created -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'none'">
                                <img draggable="false" id="currentEmoji" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                            </div>
                        </div>

                        <!--Emoji Mood 4 -->
                        <div *ngIf="emoji.mood == 4">
                            <!-- If swiped from Left -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'left'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-left" id="emoji4FromLeft" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>

                            <!-- If swiped from Right -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'right'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-right" id="emoji4FromRight" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>
                        </div>


                        <!--Emoji Mood 5 -->
                        <div *ngIf="emoji.mood == 5">
                            <!-- If swiped from Left -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'left'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-left" id="emoji5FromLeft" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>

                            <!-- If swiped from Right -->
                            <div *ngIf="parseSwipeDirection(emoji.mood) == 'right'">
                                <div class="w3-container w3-center" style="overflow-x:hidden">
                                    <img draggable="false" class="w3-animate-right" id="emoji5FromRight" src="assets/Emojis/{{emoji.mood}}/{{emoji.intensity}}.png" style="width:33%;height:33%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>

                    <h2>I'm feeling {{parseEmotionIntensity(emoji.mood, emoji.intensity)}}.</h2>

                    <button mat-raised-button (click)="emoji.mood = updateEmojiMood(-1, emoji.mood)">Previous</button>
                    <button mat-raised-button (click)="emoji.mood = updateEmojiMood(1, emoji.mood)">Next</button>

                    <br/>
                    <button mat-raised-button id="submitEmoji" color="primary" (click)="addEmoji()" type="button">Submit</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- What to display if the user isn't logged in -->
<ng-template #promptLogin>
    <img class="loginEmoji" src="https://image.flaticon.com/icons/svg/260/260205.svg" alt="Sunshine Journal">
    <p class="loginEmojiText">Please sign in with your google account to access Sunshine Journal</p>
</ng-template>

