

mat-card {
    text-align: center;
}

mat-card-content img {
    width: 45%;
    max-width: 500px;
    padding-bottom: 5%;
    padding-top: 5%;
}

mat-slider {
    width: 100%;
    opacity: .75;

}

mat-slider:hover {
    opacity: 1;
}



