<!--Don't allow user to do anything without logging in! -->
<div *ngIf="isUserLoggedIN(); else promptLogin">

<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
            <!-- Main Page -->
            <mat-card>
                <mat-card-content id="headerInfo">
                    <!-- Only display first name -->
                    <h1><strong>Hello {{emoji.owner.split(" ")[0]}}! How are you feeling today?</strong></h1>
                    <p>Swipe left or right to find your feeling.</p>

                    <!-- Control Gestures -->
                    <div class="swipe-box"
                         (swipeleft)="emoji.mood = updateEmoji(1, emoji.mood)"
                         (swiperight)="emoji.mood = updateEmoji(-1, emoji.mood)"
                    >

                        <!--Show correct emoji based on the corresponding mood-->
                        <img draggable="false" id="{{emoji.mood}}emoji" src="assets/Emojis/{{emoji.mood}}.png" style="width:33%;height:33%">
                    </div>

                    <br/>

                    <h2>I'm feeling {{parseEmotion(emoji.mood)}}.</h2>

                    <button mat-raised-button (click)="emoji.mood = updateEmoji(-1, emoji.mood)">Previous</button>
                    <button mat-raised-button (click)="emoji.mood = updateEmoji(1, emoji.mood)">Next</button>

                    <br/>
                    <button mat-raised-button id="submitEmoji" color="primary" (click)="addEmoji()" type="button">Submit</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- What to display if the user isn't logged in -->
<ng-template #promptLogin>
    <img class="loginEmoji" src="https://image.flaticon.com/icons/svg/260/260205.svg" alt="Sunshine Journal">
    <p class="loginEmojiText">Please sign in with your google account to access Sunshine Journal</p>
</ng-template>

