/* Cat gif background

background-image: url("http://cdn.playbuzz.com/cdn/1763c248-c050-4ed4-a306-0a03b6858650/bbb045e1-eb74-4f51-9926-a751dfec291d.gif");

 */
/*div {
    background-image: url("http://cdn.playbuzz.com/cdn/1763c248-c050-4ed4-a306-0a03b6858650/bbb045e1-eb74-4f51-9926-a751dfec291d.gif");

}*/

mat-card {
    text-align: center;
}

mat-card-content img {
    width: 45%;
    max-width: 500px;
    padding-bottom: 5%;
    padding-top: 5%;
}

mat-slider {
    width: 40%;
    opacity: .75;

}

mat-slider:hover {
    opacity: 1;
}



