mat-card {
    text-align: center;
}

mat-card-content img {
    width: 45%;
    max-width: 500px;
}

.loginEmoji{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
}

.loginEmojiText {
    text-align: center;
    font-size: 24px;
}

.headerText{
    font-size: 200%;
}

.moodText{
    margin-top: 0px;
    font-size: 130%;
}

#currentEmoji {
    padding-bottom: 0px;
    padding-top: 10px;
    width: 25%;
    height: 25%;
}

/*
@media only screen and (max-width: 600px){
        .emojiNavigationButtonsHorz {
        visibility: hidden;
    }
}

@media only screen and (max-width: 600px){
    .emojiNavigationButtonsVert {
        visibility: hidden;
    }
}
*/

#submitEmoji {
    margin-top: 10px;
}
