<!--This is the appropriate response component html file
 We are using the ngIf function to only show the response in a mat-card when it matches
 the data.response value. The response value is basically the emoji.mood value
 we referred to in the home component.ts file -- Ahnaf -->

<div class="response" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-content id="response1" *ngIf="data.response == 1">I'm so sorry to hear that. Do you need help?</mat-card-content>
            <mat-card-content id="response2" *ngIf="data.response == 2">I'm sorry to hear that.</mat-card-content>
            <mat-card-content id="response3" *ngIf="data.response == 3">Ok, sounds good</mat-card-content>
            <mat-card-content id="response4" *ngIf="data.response == 4">I'm glad that you're happy!</mat-card-content>
            <mat-card-content id="response5" *ngIf="data.response == 5">Wow! That's great!</mat-card-content>
            <mat-card-content id="emojiError" *ngIf="data.addEmojiError">There was an error communicating with the server. Your entry was not saved.</mat-card-content>

        </mat-card>
    </div>
</div>
