<body>
    <div *ngIf="windowWidth > 512; then onComputer else onMobile"></div>

    <!-- If the user is on desktop -->
    <ng-template #onComputer>
        <div (window:resize)="onResize($event)"></div>
        <ul class="navBarWithText">
            <li><a id="home" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button mat-button class="nav-button">Home</button></a></li>
            <li><a id="reports" [routerLink]="['/reports']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button mat-button class="nav-button">Reports</button></a></li>
            <li><a id="goals" [routerLink]="['/goals']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button mat-button class="nav-button">Goals</button></a></li>
            <li><a id="journaling" [routerLink]="['/journaling']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button mat-button class="nav-button">Journaling</button></a></li>
            <li><a id="resources" [routerLink]="['/resources']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button mat-button class="nav-button">Resources</button></a></li>
            <li><a id="about" [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button mat-button class="nav-button">About</button></a></li>
        </ul>
        <router-outlet></router-outlet>
    </ng-template>

    <!-- If the user is on mobile -->
    <ng-template id="onMobile" #onMobile>
        <div (window:resize)="onResize($event)"></div>
        <td-layout #layout>
            <td-navigation-drawer id="navBar" flex sidenavTitle="Menu">
                <mat-nav-list class="navBarContents">
                    <a mat-list-item [routerLink]="['/']" (click)="layout.close()" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon>import_contacts</mat-icon>Journaling</a>
                    <a mat-list-item [routerLink]="['/reports']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon>import_contacts</mat-icon>Journaling</a>
                    <a mat-list-item [routerLink]="['/goals']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon><i class="material-icons">format_list_numbered</i></mat-icon>Resources</a>
                    <a mat-list-item [routerLink]="['/journaling']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon><i class="material-icons">assessment</i></mat-icon>Reports</a>
                    <a mat-list-item [routerLink]="['/resources']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon><i class="material-icons">accessibility</i></mat-icon>Goals</a>
                    <a mat-list-item [routerLink]="['/about']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon><i class="material-icons">sort</i></mat-icon>About</a>
                </mat-nav-list>
            </td-navigation-drawer>

            <td-layout-nav>
                <button mat-icon-button td-menu-button tdLayoutToggle >
                    <mat-icon>menu</mat-icon>
                </button>
                <router-outlet></router-outlet>
            </td-layout-nav>
        </td-layout>
    </ng-template>
</body>
