#signInButton{
    padding: 10px;
}

.navBarWithText{
    margin: 0;
    text-align: left;
    background-color: darkorange;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    display: inline-block;
}

li a {
    color: white;
}

ul{
    padding: 5px;
}
