.g-signin2{
    position: absolute;
    bottom: 40%;
    right: calc(50% - 60px);
}

.navBarWithText{
    margin: 0;
    text-align: left;
    background-color: darkorange;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    display: inline-block;
}

li a {
    color: white;
}

ul{
    padding: 5px;
}
