#signInButton{
    padding: 10px;
}

.navBarWithText{
    margin: 0;
    text-align: left;
    background-color: darkorange;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    display: inline-block;
}

li a {
    color: white;
}

ul{
    padding: 5px;
}

.loginEmoji{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    padding: 32px;
}

.loginEmojiText {
    text-align: center;
    font-size: 24px;
}
