<div class="crisis-button" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>Crisis Numbers</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                Suicide prevention Lifeline: <a href="tel:1-800-273-8255">1-800-273-8255</a>
                <br>
                Crisis Hotline: <a href="tel:775-784-8090">775-784-8090</a>
                <br>
            </mat-card-content>
        </mat-card>
    </div>
</div>
