.loginEmoji{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
}

.loginEmojiText {
    text-align: center;
    font-size: 24px;
}

.emojiPicture{
    float:left;
    display: inline-block;
    padding: 20px;
    width: 125px;
    height: 125px;
}
