.loginEmoji{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    padding: 32px;
}

.loginEmojiText {
    text-align: center;
    font-size: 24px;
}

.matCardJournals {
    float: left;
    display: block;
    width: 200px;
    height: 200px;
    padding: 20px;
    font-size: 20px;
    background-color: lightcyan;
}

.matCardMain{
    height: 100%;
}

.addNewJournalButton{
    padding-left: 10px;
    float: left;
}

.pageButtons{
    padding-bottom: 100%;
}



.matFormFieldSubject{
    padding: 10px;
}

.matFormFieldBody{
    padding: 10px;
}

.viewButton{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.editButton{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#addNewJournal{
    background-color: lightcyan;
}

#journalBodyDiv{
    overflow-y: hidden;
    word-wrap: break-word;
    height: 46px;
}

#journalTitleDiv{
    overflow-y: hidden;
    word-break: break-all;
    height: 21px;
}

