<mat-card>
    <mat-card-content>
        <h1 style="text-align: center;"><strong>Welcome to Hockey Pucks Journaling Page.</strong></h1>
        <p style="text-align: center;"><textarea style="margin: 0px; width: 754px; height: 419px;" cols="30" name="message" rows="10">Tell us how you're feeling today! </textarea></p>
        <p style="text-align: center;"><button type="button"> Coming Soon </button></p> <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">&nbsp;</p>
    </mat-card-content>
</mat-card>

