

body {
    background-image: url("http://cdn.playbuzz.com/cdn/1763c248-c050-4ed4-a306-0a03b6858650/bbb045e1-eb74-4f51-9926-a751dfec291d.gif")
}

#h1 {
    font-family: "Brush Script MT",cursive;
    color: white;
    font-size: larger;
}
