<div class="view-journal" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title id="journalSubject">{{data.journal.subject}}</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div id="journalBody">
                    {{data.journal.body}}
                </div>
                <br>
                <br>
                Date: {{getDateString(data.journal)}}
            </mat-card-content>
        </mat-card>
        <button mat-raised-button id="exitWithoutAddingButton" (click)="onNoClick()" type="button">Exit</button>
    </div>
</div>
